@import "tailwindcss";

/* ===== MAIN ===== */

.first-section {
  position: relative;
  top: -5rem;
  margin-top: -15rem;
  margin: 0 auto;
  height: 35rem;
  z-index: 10; /* z-index ajusté pour assurer la visibilité par rapport aux autres index!!!! IMPORTANT */
}

.div-first {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.star-yellow {
  width: 45rem;
  height: 45rem;
  opacity: 0.8;
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* keeps positioning context */
  gap: 1rem; /* space between the star and the text */
}

.title-logo {
  width: 2rem;
}

.main-title {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: -2rem;
}

.main-h1 {
  font-family: "Futura", sans-serif;
  font-size: 5rem;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.main-h2 {
  font-family: "Futura", sans-serif;
  font-size: 5rem;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.left-label,
.right-label {
  font-family: "Futura", sans-serif;
  font-size: 0.8rem;
  color: var(--primary-color);
  white-space: nowrap;
}

.left-label {
  margin-right: auto;
  animation: slideInFromLeft 1s ease-out;
}

.right-label {
  margin-left: auto;
  animation: slideInFromRight 1s ease-out;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.h2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 0.5rem;
}

.bottom-right-label {
  font-family: "Futura", sans-serif;
  font-size: 0.9rem;
  color: var(--primary-color);
  margin-top: 0.5rem;
  text-align: left;
  max-width: 10rem; /* adjust as needed */
}

/* ===== PROGRAMMATION ===== */

.prog-title {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  gap: 2rem;
}

.prog-title-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-button {
  margin-top: 1.5rem;
}

.h3-prog {
  z-index: 1;
  color: var(--secondary-color);
  font-size: xxx-large;
  letter-spacing: 0.5rem;
  margin-bottom: 0;
}

.h3-2025 {
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: var(--secondary-color);
  z-index: 1;
  font-size: xxx-large;
  margin-bottom: 10rem;
  letter-spacing: 0.5rem;
  font-family: Futura-Thin;
}

.position-relative {
  position: relative;
}

.circles {
  position: absolute;
  z-index: -1;
  pointer-events: none; /* facultatif, pour ne pas gêner les clics */
}

.circles .circle-svg {
  width: 150%;
  height: auto;
  max-width: none;
}

/* ===== PROGRAMMATION ===== */

/* ===== ARTIST CARD ===== */
.programmation img {
  z-index: inherit;
  width: 25rem;
  height: 15rem;
}

.card-artist {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.artist-description {
  color: var(--secondary-color);
  font-family: Futura-Thin;
  font-size: 2.5rem;
  margin: 0;
  border: solid 0.02rem var(--primary-color);
  padding-left: 0.2rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.artist-description-alt {
  color: var(--secondary-color);
  font-family: Futura-Thin;
  font-size: 2.5rem;
  margin: 0;
  border: solid 0.02rem var(--color-pink);
  padding-left: 0.2rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.artist-description-altt {
  color: var(--secondary-color);
  font-family: Futura-Thin;
  font-size: 2.5rem;
  margin: 0;
  border: solid 0.02rem var(--color-blue);
  padding-left: 0.2rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.artist-date {
  color: var(--secondary-color);
  font-family: Futura-Thin;
  font-size: 2.5rem;
  display: flex;
  justify-content: end;
}
.card-group-left {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 2rem;
  margin-top: 5rem;
}

.card-group-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5rem;
}

.card-group-right .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.card-group-right img {
  order: 1;
}

.card-group-right .artist-description-alt {
  order: 2;
}

.card-group-right .artist-date-right {
  order: 3;
  color: var(--secondary-color);
  font-family: Futura-Thin;
  font-size: 2.5rem;
  margin: 0;
  padding-left: 0.2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
}
/* ===== ARTIST CARD ===== */

/* ===== GAME SECTION ===== */

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: var(--color-blue);
  border-radius: 100px;
  font-weight: 600;
  color: #1f387e;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #c5e5e4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #1f387e;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.game-button-div {
  display: flex;
  justify-content: center;
}


/* ===== GAME SECTION ===== */

/* ===== MAIN ===== */
