@import url(/projet-transversal/src/style/var.css);
@import url(/projet-transversal/src/style/style.css);
@import url(/projet-transversal/src/style/responsive.css);

/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import your old CSS file */
@import "style/style.css";
@import "style/var.css";

/* ===== GLOBAL ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  list-style-type: none;
  scroll-behavior: smooth;
}

/* ===== GLOBAL ===== */

/* ===== FONT ===== */

@font-face {
  font-family: 'Futura';
  src: url("/projet-transversal/assets/font/Futura_Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ===== FONT ===== */

/* ===== BODY ===== */

.body-class {
  background-color: var(--color-black);
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 3rem;
}

/* ===== BODY ===== */